@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300;1,400&family=Inconsolata&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

h1, h2 {
    font-family: 'Cormorant Infant', 'sans-serif';
    font-weight: 400;
}

.noise {
    background: rgb(182, 34, 58);
    background-image: url(https://arc.net/noise.png);
}